<%- include("layouts/header.ejs") %>



<section id="objectives">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4 feature-points">
                <i class="fas fa-check-circle fa-4x feature-icon "></i>
                <h3 class="feature-title">Easy to use.</h3>
                <p class="elaborate">So easy to use, even your dog could do it.</p>
            </div>

            <div class="col-lg-4 feature-points">
                <i class="fas fa-bullseye fa-4x feature-icon "></i>
                <h3 class="feature-title">Elite Clientele</h3>
                <p class="elaborate">We have all the dogs, the greatest dogs.</p>
            </div>

            <div class="col-lg-4 feature-points">
                <i class="fas fa-heart fa-4x feature-icon "></i>
                <h3 class="feature-title">Guaranteed to work.</h3>
                <p class="elaborate">Find the love of your dog's life or your money back.</p>

            </div>
        </div>

    </div>

</section>



<section class="objective1">
  <div class="old-man">
    <img src="images/objectives/old-man.jpg" alt="">
  </div>

  <div class="objective-text1">
    <h2>Our Objective 1</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam, ipsum quis pharetra suscipit, <br> <br>  elit mi accumsan nisi, quis mollis mauris nisi nec augue. Sed molestie turpis efficitur gravida iaculis. Quisque tempor, nunc et tincidunt ultricies, nunc metus semper sapien, ut aliquet lorem mi id nisi. Duis luctus dui odio, et mattis ligula porta eu.</p>

  </div>
</section>

<section class="objective2">
  <div class="old-man">
    <img src="images/objectives/old-woman.jpg" alt="">
  </div>

  <div class="objective-text2">
    <h2>Our Objective 1</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam, ipsum quis pharetra suscipit, <br> <br>  elit mi accumsan nisi, quis mollis mauris nisi nec augue. Sed molestie turpis efficitur gravida iaculis. Quisque tempor, nunc et tincidunt ultricies, nunc metus semper sapien, ut aliquet lorem mi id nisi. Duis luctus dui odio, et mattis ligula porta eu.</p>

  </div>
</section>


<!-- <div class="wrapper">


    <img class="try1" src="images/objectives/old-man.jpg" alt="">
    <img class="try2" src="images/objectives/old-woman.jpg" alt="">

    <p class="h5 objective-text1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus et molestie ac feugiat sed lectus. Sit amet nisl purus in. Metus dictum at tempor commodo ullamcorper a
        lacus. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Ut sem nulla pharetra diam sit amet nisl suscipit. Viverra suspendisse potenti nullam ac tortor vitae
        purus faucibus ornare. Rhoncus dolor purus non enim praesent. Malesuada fames ac turpis egestas.

        Justo eget magna fermentum iaculis eu non diam phasellus vestibulum. Vitae congue mauris rhoncus aenean vel elit scelerisque. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Montes nascetur ridiculus mus
        mauris vitae ultricies leo integer malesuada. Dignissim sodales ut eu sem integer. Consequat semper viverra nam libero justo laoreet sit amet cursus. Morbi tristique senectus et netus et. Lacus sed viverra tellus in hac habitasse platea
        dictumst vestibulum. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. A diam maecenas sed enim ut sem. Facilisis gravida neque convallis a cras semper auctor neque vitae. Varius duis at consectetur lorem donec. Duis ut diam
        quam nulla porttitor massa id.
    </p>
</div> -->


<%- include("layouts/footer.ejs") %>










<!-- <section class="colored-section">

    <table>
    <tr>
        <td><img class="logo-img" src="images/logo.jpg"></td>
        <td>
            <p class="h5 objective-text1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus et molestie ac feugiat sed lectus. Sit amet nisl purus in. Metus dictum at tempor commodo ullamcorper a lacus. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Ut sem nulla pharetra diam sit amet nisl suscipit. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Rhoncus dolor purus non enim praesent. Malesuada fames ac turpis egestas.

                Justo eget magna fermentum iaculis eu non diam phasellus vestibulum. Vitae congue mauris rhoncus aenean vel elit scelerisque. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Montes nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Dignissim sodales ut eu sem integer. Consequat semper viverra nam libero justo laoreet sit amet cursus. Morbi tristique senectus et netus et. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. A diam maecenas sed enim ut sem. Facilisis gravida neque convallis a cras semper auctor neque vitae. Varius duis at consectetur lorem donec. Duis ut diam quam nulla porttitor massa id.
            </p>
        </td>
    </tr>
</table>

</section>

<section class="white-section">

    <table>
    <tr>
        <td>
            <p class="h5 objective-text2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus et molestie ac feugiat sed lectus. Sit amet nisl purus in. Metus dictum at tempor commodo ullamcorper a lacus. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Ut sem nulla pharetra diam sit amet nisl suscipit. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Rhoncus dolor purus non enim praesent. Malesuada fames ac turpis egestas.

                Justo eget magna fermentum iaculis eu non diam phasellus vestibulum. Vitae congue mauris rhoncus aenean vel elit scelerisque. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Montes nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Dignissim sodales ut eu sem integer. Consequat semper viverra nam libero justo laoreet sit amet cursus. Morbi tristique senectus et netus et. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. A diam maecenas sed enim ut sem. Facilisis gravida neque convallis a cras semper auctor neque vitae. Varius duis at consectetur lorem donec. Duis ut diam quam nulla porttitor massa id.
            </p>
        </td>

        <td><img class="test-img" src="images/home/test.jpg"></td>
    </tr>
</table>

</section>


<section class="colored-section">

    <table>
    <tr>
        <td><img class="logo-img" src="images/logo.jpg"></td>
        <td>
            <p class="h5 objective-text1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus et molestie ac feugiat sed lectus. Sit amet nisl purus in. Metus dictum at tempor commodo ullamcorper a lacus. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Ut sem nulla pharetra diam sit amet nisl suscipit. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Rhoncus dolor purus non enim praesent. Malesuada fames ac turpis egestas.

                Justo eget magna fermentum iaculis eu non diam phasellus vestibulum. Vitae congue mauris rhoncus aenean vel elit scelerisque. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Montes nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Dignissim sodales ut eu sem integer. Consequat semper viverra nam libero justo laoreet sit amet cursus. Morbi tristique senectus et netus et. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. A diam maecenas sed enim ut sem. Facilisis gravida neque convallis a cras semper auctor neque vitae. Varius duis at consectetur lorem donec. Duis ut diam quam nulla porttitor massa id.
            </p>
        </td>
    </tr>
</table>

</section>



<section>
    <div class="imagebox">
  <img src="http://www.mokshasoulyoga.com/wp-content/uploads/2017/04/5.png" width="100%" height="auto" />
</div>
<div class="textbox-cont">
  <div class="textbox">
    <h2>Title Here</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed         do eiusmod tempor incididunt ut labore et dolore magna               aliqua. Ut enim ad minim veniam, quis nostrud exercitation           ullamco laboris nisi ut aliquip ex ea commodo consequat.
     </p>
     <a href="#">Read More</a>
  </div>
</div>
</section> -->
